{% extends 'base.html' %}

{% block mini_title %}
<table cellpadding="3" cellspacing="4" border="2">
    <tr>
        <td>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        </td>
        <td rowspan="2">
            {{ date_dict.calendar|safe }}
        </td>
        <td>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        </td>
        <th align="left">
            Сегодня: {{ date_dict.date }}
        </th>
        <td>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        </td>
        <td rowspan="2" align="center">
            <form method="GET" action="." style="margin: 0">
                <p><input type="text" name="q"  placeholder="Поиск по заголовку" ></p>
                <p><input class="c-button" type="submit" value="Поиск записей"></p>
            </form>    
        </td>

    </tr>
    <tr>
        <td>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        </td>
        <td>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        </td>
        <th align="center">
            Текущее время: {{ date_dict.time }}
        </th>
        <td>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        </td>
    </tr>
</table>
{% endblock %}

{% block content %}

    <br>
    <div>
        <table cellpadding="3">
                
                    <tr>
                        <td align="left" width="200"></td>
                    </tr>
        

        </table>
        <h2>Заполнить данные из документов</h2>
        <h2>Заполнить данные через Госуслуги</h2>

</div>

{% endblock %}