{% extends 'doc_app/base_doc.html' %}

{% block information %}

<div>
    <h2>Данные о документе</h2>
    <table cellpadding="3">
        {% for k, v in context.items %}
            <tr>
                <td>
                    <font size="4"><b>{{ k }}:</b></font>
                </td>
                <td>
                    <font size="4">{{ v }}</font>
                </td>
            </tr>
        {% endfor %}
            <br>
    </table>            
    {% if spouce %}
    <br>
    <h3>Сведения о супруге</h3>
    <table cellpadding="3">
        {% for k, v in spouce.items %}
        <tr>
            <td>
                <font size="4"><b>{{ k }}:</b></font>
            </td>
            <td>
                <font size="4">{{ v }}</font>
            </td>
        </tr>
        {% endfor %}
    {% endif %}
    {% if childrens %}
        <br>
        <h3>Сведения о детях</h3>
        {% for child in childrens %}
        <tr><td colspan="2">   
            <h4> Ребенок {{ forloop.counter }} </h4>
        </td></tr>
            {% for k, v in child.items %}
            <tr>
                <td>
                    <font size="4"><b>{{ k }}:</b></font>
                </td>
                <td>
                    <font size="4">{{ v }}</font>
                </td>
            </tr>
            <br>
            {% endfor %}
        {% endfor %}
    {% endif %}
</table>
</div>

{% endblock %}