{% extends 'doc_app/base_doc.html' %}
{% block content %}


    <div><h1>Паспорт</h1></div>
    <br>
    <div>
        <table cellpadding="3">
                
                    <tr>
                        <td align="left" width="200">
                        {% if context %}
                        <h3>Паспортные данные</h3>
                            {% for k, v in context.items %}
                                {{ k }}: {{ v }}
                                <br>
                            {% endfor %}
                            {% if spouce %}
                                <br>
                                <h3>Сведения о супруге</h3>
                                {% for k, v in spouce.items %}
                                    {{ k }}: {{ v }}
                                    <br>
                                {% endfor %}
                            {% endif %}
                            {% if childrens %}
                                <br>
                                <h3>Сведения о детях</h3>
                                {% for child in childrens %}
                                    <h4> Ребенок {{ forloop.counter }} </h4>
                                    {% for k, v in child.items %}
                                    {{ k }}: {{ v }}
                                    <br>
                                    {% endfor %}
                                {% endfor %}
                            {% endif %}
                        {% else %}
                            <h2>Информация о паспорте отутствует.</h2>
                            <h3>Желаете добавить?</h3>
                        {% endif %}


                        </td>
                    </tr>
        

        </table>
        <br>
        <h2><a href="{% url 'change_passport' user_id %}"> Изменить паспортные данные </a></h2>
        <h2>Заполнить данные из документов</h2>
        <h2>Заполнить данные через Госуслуги</h2>

</div>

{% endblock %}