{% extends 'base.html' %}
{% block content %}


    <div><h1>{{ title }}</h1></div>
    <div>
        <table cellpadding="3">
            {% for pr in property %}
                <tr>
                    <td align="left" width="200">
                        <a href="{% url change_property user_id pr.pk %}">
                            {{ pr.type_property }}:
                            {% if pr.area %} 
                                площадь {{ pr.area }} кв.м.
                            {% else %}
                                {{ pr.brand }}&nbsp;{{ pr.model }}
                            {% endif %}
                        </a>
                    </td>
                </tr>
            {% endfor %}
            <tr>
                <td>
                    <a href="{% url add_property user_id %}"> Добавить {{ title }} </a>
                </td>
            </tr>
        </table>
        <br>
</div>

{% endblock %}